<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
    <title>Accueil</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='js/homepage.js') }}"></script>
</head>
<header>
    <div class="header">
        <h1 class="username">{{util.prenom}} {{util.nom}}</h1>
        <button onclick="window.location=`http://127.0.0.1:5000/gestion_sondes`">Gestion des sondes</button>
        <button class="disconnect-btn">Déconnexion</button>
    </div>
</header>

<body onload="afficherHistorique(document.getElementById('lasonde').value, 5)">
    <div class="divtab">
        <h1 id="presenttab">Le dernier relevé de chaque sonde</h1>
        {% if data|length > 0 %}
        <table class="tabdatas">
            {% for i in range(4) %}
            <tr class="cell">
                {% if i == 0 %}
                <th class="coltitre2">Sonde</th>
                {% for rel in data %}
                <td>{{ rel.nom }}</td>
                {% endfor %}
                {% elif i == 1 %}
                <th class="coltitre2">Température</th>
                {% for rel in data %}
                {% if rel.temp > 25 %}
                <td class="cell-img"><img src="static/img/soleil.png" alt="Soleil"><br>{{ rel.temp }}°C </td>
                {% elif rel.temp > 9.9 %}
                <td class="cell-img"><img src="static/img/eclaircies.png" alt="Eclaircies"><br>{{ rel.temp }}°C </td>
                {% elif rel.temp > 0 %}
                <td class="cell-img"><img src="static/img/couvert.png" alt="Couvert"><br>{{ rel.temp }}°C </td>
                {% else %}
                <td class="cell-img"><img src="static/img/neige.png" alt="Enneigé"><br>{{ rel.temp }}°C </td>
                {% endif %}
                {% endfor %}
                {% elif i == 2 %}
                <th class="coltitre2">Humidité</th>
                {% for rel in data %}
                {% if rel.hum == '' %}
                <td class="sanshumid">-</td>
                {% else %}
                <td>{{ rel.hum }}%</td>
                {% endif %}
                {% endfor %}
                {% else %}
                <th class="coltitre2">Date du relevé</th>
                {% for rel in data %}
                <td>{{ rel.date }}</td>
                {% endfor %}
                {% endif %}
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>Il n'y a pas de données à afficher.</p>
        {% endif %}
    </div>
    <h1 class="map-title">Où se situent les sondes ?</h1>
    <div class="map-container">
        <img src="../static/img/plan.png" alt="Plan de la maison" class="map">
    </div>
    <div class="graph-container">
        <div class="graph-buttons">
            <button id="temp-btn"
                onclick="afficherGraphique('temperature', document.getElementById('lasonde').value, document.querySelector('input[name=qte]:checked').value)">Température</button>
            <button id="hum-btn"
                onclick="afficherGraphique('humidite', document.getElementById('lasonde').value, document.querySelector('input[name=qte]:checked').value)">Humidité</button>
            <button id="histo-btn"
                onclick="afficherHistorique(document.getElementById('lasonde').value, document.querySelector('input[name=qte]:checked').value)">Historique</button>
                <div id="select-sensor">
                    <label for="lasonde">Sélectionnez une sonde :</label>
                    <select list="lessondes" id="lasonde" name="lasonde">
                        <datalist class="centered" id="lessondes">
                            {% for i in range(sondes|length) %}
                                <option value={{ sondes[i].id }}>{{ sondes[i].nom }}</option>
                            {% endfor %}
                        </datalist>
                    </select>
                </div>
            <fieldset>
                <legend>Nombre de valeurs souhaité :</legend>
                <div id="select-valeur">
                    <input type="radio" id="5" name="qte" value="5" checked>
                    <label for="5">5</label>
                    <input type="radio" id="15" name="qte" value="15">
                    <label for="15">15</label>
                    <input type="radio" id="30" name="qte" value="30">
                    <label for="30">30</label>
                    <input type="radio" id="50" name="qte" value="50">
                    <label for="50">50</label>
                </div>
            </fieldset>
        </div>
        <div id="monChart"></div>
    </div>
    <h1 class="map-title">Mes alertes :</h1>
    <div class="alerte-container">
        <div class="alert-buttons">
            <button id="cree-alerte-btn" onclick="window.location=`http://127.0.0.1:5000/param_alertes`">Créer une alerte</button>
        </div>
        {% if lesalertes|length == 0 %}
        <p class="title-alerte">Vous n'avez pas d'alertes</p>
        {% else %}
        {% if lesalertes|length == 1 %}
        <p class="title-alerte">Vous avez 1 alerte :</p>
        {% else %}
        <p class="title-alerte">Vous avez {{ lesalertes|length }} alertes :</p>
        {% endif %}
            {% for alerte in lesalertes %}
                {% if alerte.type == "Humidité" %}
                <p>Alerte n°{{ loop.index }} : Sonde {{ alerte.sonde }} - {{ alerte.type }} {{ alerte.ope }} {{ alerte.seuil }}% - Envoi
                    toutes les {{ alerte.freq }} heures</p>
                {% else %}
                <p>Alerte n°{{ loop.index }} : Sonde {{ alerte.sonde }} - {{ alerte.type }} {{ alerte.ope }} {{ alerte.seuil }}°C - Envoi
                    toutes les {{ alerte.freq }} heures</p>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</body>
<footer>
    <h2 class="ip-adress">Adresse IP : {{ ip }}</h2>
</footer>
</html>